<episerver.find.environments current="$computerName" fallback="one">

    <add name="PC-LEVA"
         privateUrl="http://es-api01.episerver.com/AGJ1hGv6A3UEH6r2NsMCrHbPGmVGN6dp/"
         publicUrl="http://es-api01.episerver.com/9pe7Cq8QuwcFui5JlzQfP0Vseukwldi4"
         indexName="vladimirlevchuk_hrgtdllocalpcleva" />
    
    <add name="$computerName"
         privateUrl="http://es-api01.episerver.com/AGJ1hGv6A3UEH6r2NsMCrHbPGmVGN6dp/"
         publicUrl="http://es-api01.episerver.com/9pe7Cq8QuwcFui5JlzQfP0Vseukwldi4"
         indexName="vladimirlevchuk_hrgtdllocalpcleva" />

    <add name="one"
         privateUrl="http://es-api01.episerver.com/private-one"
         publicUrl="http://es-api01.episerver.com/public-one"
         indexName="vladimirlevchuk_one" />

    <add name="two"
         privateUrl="http://es-api01.episerver.com/private-two"
         publicUrl="http://es-api01.episerver.com/public-two"
         indexName="vladimirlevchuk_two" />

    <add name="three"
         privateUrl="http://es-api01.episerver.com/private-three"
         publicUrl="http://es-api01.episerver.com/public-three"
         indexName="vladimirlevchuk_three" />

    <add name="four"
         privateUrl="http://es-api01.episerver.com/private-four"
         publicUrl="http://es-api01.episerver.com/public-four"
         indexName="vladimirlevchuk_four" />

    <add name="five"
         privateUrl="http://es-api01.episerver.com/private-five"
         publicUrl="http://es-api01.episerver.com/public-five"
         indexName="vladimirlevchuk_five" />

</episerver.find.environments>



